


td{
	width: 20px;
	height: 20px;
	border: 0.1px solid black;


	background-color: white;
	transition: 9999999999999s linear background-color;
}


table{
	margin-left: 40%;
	margin-top: 5%;
	border-spacing: 0px
}


td:hover{
	background-color: green;
	transition: 0s linear background-color;
}

td:nth-child(3n){
	border-radius: 100%
}