
#result{
    background-color: lightblue;
    margin-top: 5%;
    margin-left: 35%;
    width: 250px;
    height: 50px;
}

#btn1{
    margin-left: 10%;
    width: 100px;
    height: 50px;
}
#btn2{
    margin-left: 15%
    width: 100px;
    height: 50px;
}
#btn3{
    margin-left: 0%;
    width: 100px;
    height: 50px;
}
#btn4{
    margin-left: 0%;
    width: 100px;
    height: 50px;
}


#resultB{
    background-color: lightblue;
    margin-top: 5%;
    margin-left: 35%;
    width: 250px;
    height: 50px;
}


#txtB{
    margin-left: 40%;
    width: 100px;
    height: 50px;
}

#btnB{
    margin-left: 0%;
    width: 100px;
    height: 50px;
}

#resultC{
    background-color: lightblue;
    margin-top: 5%;
    margin-left: 35%;
    width: 250px;
    height: 50px;
}


#txtC{
    margin-left: 40%;
    width: 100px;
    height: 50px;
}

#btnC{
    margin-left: 0%;
    width: 100px;
    height: 50px;
}

#resultD{
    background-color: lightblue;
    margin-top: 5%;
    margin-left: 35%;
    width: 250px;
    height: 50px;
}


#txtD{
    margin-left: 40%;
    width: 100px;
    height: 50px;
}

#btnD{
    margin-left: 0%;
    width: 100px;
    height: 50px;
}

