
.container{
    border: 2px solid white;
}

.col{
    border: 15px solid white;
}

.w-100{
    border: 1px solid white;
}

div.col{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 28pt;
}
